@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crete+Round&family=Dosis:wght@300;400&family=Inter:wght@600&family=Montserrat:wght@700&family=Poppins:wght@200;400;600&family=Quicksand:wght@700&family=Roboto:wght@700&family=Space+Mono:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Mobile Version */
body {
  margin: 0;
  width: auto;
  padding: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(49, 47, 47);
  height: 65vh;
  display: none;
}

.btn-x {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

/* .container .ham-btn {
  display: block;
} */

.close-btn {
  font-size: xx-large;
  text-decoration: none;
  margin-top: -10px;
  color: #e41515;
}

nav .nav-mobile {
  padding: 1rem;
}

.nav-mobile ul a {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  color: white;
  text-decoration: none;
}

.container nav a {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.container nav .Lbutton {
  margin-left: 2rem;
}

.section1 {
  font-family: 'Roboto', sans-serif;
  background: url('./images/mobile_intro_bg.png');
  height: 100vh;
}

.sub-text {
  display: flex;
  flex-direction: column;
  margin-left: 0.6rem;
  text-align: left;
  padding: 1rem;
}

.toplogo .toplogo1 {
  margin-left: 7rem;
}

.toplogo .ham-btn {
  width: 50%;
  color: #272a32;
}

.welcome {
  font-family: 'Roboto', sans-serif;
  color: #c03f3f;
  font-weight: 400;
  font-size: 16px;
  padding: 1rem 0 0 0;
  margin-bottom: 7px;
  margin-top: 30px;
}

.main-title {
  color: #c52222;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 7vh;
  font-style: normal;
  background-image: url('https://unsplash.it/700');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
}

.saying .paragragh1 {
  font-family: 'poppins', sans-serif;
  margin-top: 0.8rem;
  word-spacing: 0.03em;
  color: #272a32;
}

.section1 footer {
  margin-left: 0.6rem;
  padding: 1rem;
}

.main-programs {
  background: url('/images/pattern_bg.png');
  background-repeat: repeat;
  background-color: #272a32;
  margin-top: 2rem;
}

.main-programs h2 {
  text-align: center;
  padding: 2rem 0 1rem 0;
  color: #eee;
}

.main-programs .fast-line {
  width: 15%;
  margin: 0 auto;
  background-color: red;
  margin-bottom: 1rem;
}

.program-parts {
  /* margin: 2rem 0.5rem; */
  display: flex;
  flex-direction: column;
  color: #eee;
  gap: 10px;
}

.part {
  width: 95%;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
}

.part img {
  width: 25%;
  height: auto;
  margin-right: 15px;
}

.part h3 {
  color: #c52222;
  width: 35%;
  font-size: 0.9rem;
  font-weight: bold;
}

.part p {
  width: 65%;
  font-size: 0.8rem;
}

.artists {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.artists h2 {
  text-align: center;
}

.artists .second-line {
  width: 20%;
  margin: 10px auto;
  background-color: #fa0404;
}

.artist-info {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.artist-card {
  display: flex;
  margin: 1rem;
}

.artist-heading {
  /* margin-top: 2rem; */
  margin-left: 0.5rem;
}

.paragragh {
  /* margin-bottom: 5rem; */
  margin-left: 0.5rem;
  font-size: 12px;
  color: #c52222;
}

.artist-data {
  font-size: 12px;
}

.second-heading {
  font-family: 'Roboto', sans-serif;
  color: #c03f3f;
  font-weight: 400;
  font-size: 16px;
  padding: 1rem 0 0 0;
  margin-bottom: 7px;
  /* margin-top: 30px;
  margin-left: 7rem; */
  margin: 10px auto;
}

.aboutme-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  background: url('./images/mobile_intro_bg.png');
  height: 100vh;

}

.aboutme-heading {
  color: #c52222;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 7vh;
  font-style: normal;
  background-image: url('https://unsplash.it/700');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: left;
}

.paragragh2 {
  font-family: 'poppins', sans-serif;
  margin-top: 0.8rem;
  word-spacing: 0.03em;
  color: #272a32;
  background-color: #f8f4f4;

}
