@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crete+Round&family=Dosis:wght@300;400&family=Inter:wght@600&family=Montserrat:wght@700&family=Poppins:wght@200;400;600&family=Quicksand:wght@700&family=Roboto:wght@700&family=Space+Mono:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Mobile Version */
body {
  margin: 0;
  width: auto;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: hidden;
  background-color: #312f2f;
  height: 100vh;
  display: none;
}

.btn-x {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.toplogo .toplogo1 {
  margin-left: 7rem;
}

.toplogo .ham-btn {
  width: 50%;
  color: #272a32;
  position: fixed;
  z-index: 80;
}

.change {
  right: 0;
}

.nav-mobile a {
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  color: white;
  text-decoration: none;
  margin-left: 0.8rem;
}

.container ul li {
  padding: 1.2rem;
  font-size: 25px;
}

.container nav .Lbutton {
  margin-left: 2rem;
}

.section1 {
  font-family: 'Roboto', sans-serif;
  height: 70vh;
}

.sub-text {
  display: flex;
  flex-direction: column;
  margin-left: 0.6rem;
  text-align: left;
  padding: 1rem;
}

.welcome {
  font-family: 'Roboto', sans-serif;
  color: #c03f3f;
  font-weight: 400;
  font-size: 16px;
  padding: 1rem 0 0 0;
  margin-bottom: 7px;
  margin-top: 30px;
}

.main-title {
  color: #c52222;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 4vh;
  font-style: normal;
  background-image: url('https://unsplash.it/800');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.saying .paragragh1 {
  font-family: 'poppins', sans-serif;
  margin-top: 0.8rem;
  color: #272a32;
  background-color: rgb(242, 239, 239);
  border-radius: 1px;
}

.section1 footer {
  margin-left: 0.6rem;
  padding: 1rem;
}

.main-programs {
  background: url('/images/pattern_bg.png');
  background-repeat: repeat;
  background-color: #272a32;
  margin-top: 2rem;
}

.main-programs h2 {
  text-align: center;
  padding: 2rem 0 1rem 0;
  color: #eee;
}

.main-programs .fast-line {
  width: 15%;
  margin: 0 auto;
  background-color: red;
  margin-bottom: 1rem;
}

.program-parts {
  /* margin: 2rem 0.5rem; */
  display: flex;
  flex-direction: column;
  color: #eee;
  gap: 10px;
}

.part {
  width: 95%;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
}

.part img {
  width: 25%;
  height: auto;
  margin-right: 15px;
}

.part h3 {
  color: #c52222;
  width: 35%;
  font-size: 0.9rem;
  font-weight: bold;
}

.part p {
  width: 65%;
  font-size: 0.8rem;
}

.artists {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.artists h2 {
  text-align: center;
}

.artists .second-line {
  width: 20%;
  margin: 10px auto;
  color: #fa0404;
}

.artist-info {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.artist-card {
  display: flex;
  margin: 1rem;
}

.artist-heading {
  margin-top: 0.8rem;
  margin-left: 0.5rem;
}

.paragragh {
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
  font-size: 12px;
  color: #c52222;
}

.artist-data {
  font-size: 12px;
  margin-left: 0.5rem;
}

.second-heading {
  font-family: 'Roboto', sans-serif;
  color: #c03f3f;
  font-weight: 400;
  font-size: 16px;
  padding: 1rem 0 0 0;
  margin: 10px auto;
}

.aboutme-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  background: url('./images/mobile_intro_bg.png');
  height: 55vh;
}

.aboutme-heading {
  color: #c52222;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 4vh;
  font-style: normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  text-align: left;
}

.aboutme-text {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-top: 0.8rem;
  word-spacing: 0.03em;
  color: #7f8081;
  padding: 0.7rem;
  background-color: white;
  text-align: center;
}

.contact {
  padding-top: 0.8rem;
  font-size: 15px;
  text-align: center;
}

.email {
  margin: 0 auto;
  font-weight: 600;
  text-decoration: underline;
}

.aboutme-paragraph {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  padding: 1rem;
  color: #0f0f1098;
}

.aboutme-line {
  width: 10%;
  margin: 0 auto;
  color: #fa0303;
  text-align: center;
}

.aboutme-info {
  align-items: center;
  font-size: 13px;
  margin: 2rem 0;
}

.aboutme-info p {
  text-align: center;
  padding: 1rem;
  color: gray;
}

.Image-logo {
  text-align: center;
  padding: 1rem;
  border: 1px solid gray;
  margin: 0 0.8rem;
}

hr {
  margin: 3rem 0;
}

.Previous-events h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #615e5e;
  padding: 2rem 0 1rem 0;
}

.event-line {
  width: 15%;
  margin: 0 auto;
  background-color: #fa0404;
}

.Previous-events p {
  color: gray;
  text-align: center;
  padding: 1.5rem 0;
}

.event-card {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

.event-card img {
  width: 90%;
  margin: 20px auto;
  display: block;
  filter: contrast(20%);
}

.event-card .year {
  color: rgb(233, 212, 212);
  position: absolute;
  left: 5%;
  top: 15%;
  font-size: xx-large;
  font-weight: bold;
}

.event-card .city {
  color: rgb(231, 216, 216);
  position: absolute;
  left: 5%;
  top: 36%;
  font-size: 1.1rem;
  font-weight: bold;
}

.event-card p {
  margin: 10px auto;
  width: 90%;
}

.partner {
  background-color: #272a32;
  margin-top: 2rem;
  text-align: center;
  height: 55vh;
}

.partnerM h3 {
  color: #eee;
  padding: 2rem;
}

.partner-item1 {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  justify-content: center;
}

.partner-item2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
  margin: 2rem 0;
}

.partner-img img {
  width: 40%;
  height: auto;
}

.last-footer {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.last-footer img {
  width: 40%;
}

.last-footer p {
  width: 70%;
  font-size: 11px;
}

/* desktop version */

@media (min-width: 768px){
  .ham-btn {
    display: none;
  }

  .fast-nav {
    background-color: #272a32;
  }

  .social ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .social ul li a img {
    width: 2%;
  }

}
