@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crete+Round&family=Dosis:wght@300;400&family=Inter:wght@600&family=Montserrat:wght@700&family=Poppins:wght@200;400;600&family=Quicksand:wght@700&family=Roboto:wght@700&family=Space+Mono:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Mobile Version */
body {
  margin: 0;
  width: auto;
  padding: 0;
}

.container {
  display: flex;
}

.btn-x {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ham-btn {
 
  padding: 10px;
  height: 10px;
}